/* Small Tablet / Large Phone Styles
---------------------------------------------------------------------------------------------------- */

@media (min-width: 600px) {

    .admin-bar .site-header--sticky,
    .admin-bar.fixed-scroll .site-header {
        top: var(--wp-admin--admin-bar--height) !important;
    }
}

@media (min-width: 780px) {

    /* Containers & General Styles
    --------------------------------------------- */

    /* Header
    --------------------------------------------- */

    /* Body
    --------------------------------------------- */


    /* Footer
    --------------------------------------------- */

    .site-credits .dev {
        display: inline-block;

        &:before {
            content: '|';
            display: inline-block;
            margin: 0 5px 0 3px;
        }
    }

}